<turbo-frame id="app-header">
    <div id="head">
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <div class="content">
            <h1>{{ 'app.header.title'|trans }}</h1>
            <p>{{ 'app.header.content'|trans({'{symfony_interval}': symfonyInterval}) }}</p>
        </div>
    </div>
</turbo-frame>
