<div id="header" class="stripes page-container">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="content-title">
        <h1>{{ 'app.header.title'|trans }}</h1>
        <p>{{ 'app.header.content'|trans({'{symfony_interval}': symfonyInterval}) }}</p>
    </div>
</div>
