<div id="printed" class="page-container">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <h1 class="text-center my-5">{{ "app.printed-projects.title"|trans }}</h1>

    <div class="container content-block">
        <p>{{ "app.printed-projects.description"|trans }}</p>
    </div>
    <div class="container">
        {% for printedProject in printedProjects %}
            {% include 'app/printed-projects-item.html.twig' with {} %}
        {% endfor %}
    </div>
</div>
