<div id="web" class="page-container">
    <div class="background">
        {% for i in range(0, 144) %}
            <div class='c'></div>
        {% endfor %}
    </div>

    <h1 class="text-center my-5">{{ "app.web-projects.title" }}</h1>

    {% for webProject in webProjects %}
        {% include 'app/web-project-item.html.twig' with {'webProject':webProject} %}
    {% endfor %}
</div>
