<turbo-frame id="web-projects-list">

    <div class="container my-3 d-flex flex-wrap justify-content-evenly">
        <a href="#" class="card m-1" style="width: 18rem;">
            <div class="image" style="background: blue"></div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"></p>
            </div>
        </a>
    </div>
</turbo-frame>
