<a href="{{ webProject.url }}" target="_blank" class="card m-1" style="width: 18rem">
    <div class="image position-relative"
         style="background-image: url('{{ path('image.web-project', {'id': webProject.id}) }}')">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ webProject.title }}</h5>
        <p class="card-text">{{ webProject.description }}</p>
    </div>
</a>
