
<ul class="btn-group p-0">
    <a href="mailto:{{ 'contact.email'|trans }}" target="_blank" class="btn btn-outline-primary"><i class="bi bi-envelope-at"></i></a>
    <a href="{{ 'contact.facebook'|trans }}" target="_blank" class="btn btn-outline-primary"><i class="bi bi-facebook"></i></a>
    <a href="{{ 'contact.github'|trans }}" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
    <a href="{{ 'contact.linkedin'|trans }}" target="_blank" class="btn btn-outline-primary"><i class="bi bi-linkedin"></i></a>
</ul>
