<div id="footer" class="page-block">
    <div class="container pt-3">
        <div class="row">
            <div class="col">
                <h2>{{ 'footer.title'|trans }}</h2>
                <p>{{ 'footer.description'|trans }}</p>
            </div>
            <div class="col">
                {% include 'partials/contact_links.html.twig' %}
            </div>
        </div>
    </div>
</div>
