<turbo-frame id="footer">
    <div>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
    </div>
</turbo-frame>
