<div id="footer" class="page-block">
    <div class="container pt-3">
        <div class="row">
            <div class="col">
                <h2>{{ 'footer.title'|trans }}</h2>
                <p>{{ 'footer.description'|trans }}</p>
                <div class="mb-3" style="max-width: 200px">
                    <div class="avatar"
                         style="background-image: url('{{ path('image.asset', {'imageName': 'profile_picture.jpg', 'size': 'small'}) }}')"></div>
                </div>
            </div>
            <div class="col">
                {% include 'partials/contact_links.html.twig' %}
            </div>
        </div>
    </div>
</div>
