<div class="page-block" id="footer">
    <div>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
        footer<br>
    </div>
</div>
